*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# binaries or keystores should not be in the project folder but just in case
*.apk
*.aab
*.jks
